@inherits RolesPage
@page "/admin/roles"
@attribute [Authorize(Policies.IsAdmin)]
@layout AdminLayout

<TopSection>
    <Breadcrumbs>
        <Breadcrumb Link="/admin" Title=@L["BreadCrumbadmin"] />
        <Breadcrumb Title=@L["BreadCrumbadminroles"] />
    </Breadcrumbs>
</TopSection>

<PageTitle>@L["Roles"]</PageTitle>

@if (roles == null)
{
    <LoadingBackground>
        <label>@L["Loading"]</label>
    </LoadingBackground>
}
else
{
    <MudTable Items="@roles" Striped="true">
        <HeaderContent>
            <MudTh><MudButton StartIcon="@Icons.Filled.Add" Label=@L["New Role"] OnClick="@(() => OpenUpsertRoleDialog())"></MudButton></MudTh>
            <MudTh>@L["Name"]</MudTh>
            <MudTh>@L["Permissions"]</MudTh>
        </HeaderContent>
        <RowTemplate Context="RoleRow">
            <MudTd>
                <MudIconButton Icon="@Icons.Filled.Edit" OnClick="@(() => OpenUpsertRoleDialog(@RoleRow.Name))" Disabled="@(RoleRow.Name == BlazorBoilerplate.Constants.DefaultRoleNames.Administrator)"></MudIconButton>
                <MudIconButton Icon="@Icons.Filled.Delete" OnClick="@(() => OpenDeleteDialog(@RoleRow.Name))" Disabled="@(RoleRow.Name == BlazorBoilerplate.Constants.DefaultRoleNames.Administrator)"></MudIconButton>
            </MudTd>
            <MudTd><div style="width:130px;">@RoleRow.Name</div></MudTd>
            <MudTd>
                <MudChipSet>
                    @foreach (var permission in @RoleRow.Permissions)
                        {
                        <MudChip Text="@permission"></MudChip>
                        }
                </MudChipSet>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

<MudDialog @bind-IsVisible="@isUpsertRoleDialogOpen">
    <TitleContent>
        @labelUpsertDialogTitle
    </TitleContent>
    <DialogContent>
        <fieldset>
            <div class="form-group">
                <MudTextField @bind-Value="@currentRoleName" Disabled="@isCurrentRoleReadOnly" Label="Role Name" AdornmentIcon="@Icons.Filled.Add" Adornment="Adornment.End" FullWidth="true" Required="true"></MudTextField>
            </div>
        </fieldset>
        <MudTable Items="@permissionsSelections">
            <HeaderContent>
                <MudTh>@L["Permissions"]</MudTh>
                <MudTh>@L["Allow"]</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.DisplayValue</MudTd>
                <MudTd><MudCheckBox @bind-Checked="@context.Selected"></MudCheckBox></MudTd>
            </RowTemplate>
        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(e => { isUpsertRoleDialogOpen = false; })">@L["Cancel"]</MudButton>
        <MudButton OnClick="@UpsertRole">@labelUpsertDialogOkButton</MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="@isDeleteRoleDialogOpen" Style="z-index:100">
    <TitleContent><MudIcon Icon="@Icons.Filled.Warning"></MudIcon> @L["Confirm Delete"]</TitleContent>
    <DialogContent>
        @L["Are you sure you want to delete {0}?", currentRoleName]
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(e => { isDeleteRoleDialogOpen = false; })">@L["Cancel"]</MudButton>
        <MudButton OnClick="@DeleteRoleAsync">@L["Delete"]</MudButton>
    </DialogActions>
</MudDialog>

@code {

}
