@inherits RootLayout
@inject NavigationManager navigationManager
@inject AppState appState
@inject IStringLocalizer<Global> L
@attribute [Authorize(Policies.IsAdmin)]

<CascadingValue Value="this">
    <MudLayout>
        <MudAppBar>
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
            <SelectCulture />
            <Login />
        </MudAppBar>
        <MudDrawerHeader @bind-Open="@_navMenuOpened">
            <MudDrawerHeader>
                <div class="drawer-logo">
                    <img alt="@appState.AppName" class="logo-img" src="_content/BlazorBoilerplate.Theme.Material/images/logo-dark.svg" title="@appState.AppName">
                    <a class="miniHover" href="/">@appState.AppName</a>
                </div>
                <UserProfile />
            </MudDrawerHeader>
            <AdminNavMenu />
        </MudDrawerHeader>
        <MudMainContent>
            @TopSection
            @Body
            <MudScrollToTop TopOffset="400" Style="z-index:2000;">
                <MudFab Icon="@Icons.Material.Filled.KeyboardArrowUp" Color="Color.Primary" />
            </MudScrollToTop>
            <footer class="page-footer">
                <TenantInfo />
            </footer>
        </MudMainContent>
    </MudLayout>
</CascadingValue>

@code {
    bool _navMenuOpened = true;
    bool _navMinified = false;
    public string bbDrawerClass = "";

    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var profile = await appState.GetUserProfile();

            if (profile == null)
                profile = new BlazorBoilerplate.Shared.Dto.Db.UserProfile();

            _navMenuOpened = profile.IsNavOpen;
            _navMinified = profile.IsNavMinified;
        }
    }

    void NavToggle()
    {
        _navMenuOpened = !_navMenuOpened;
    }
}
